# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# Database
*.db
*.sqlite3
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# AWS
*.pem
ec2_instance_details.txt

# Uploads
uploads/

# Distribution
dist/
build/
*.egg-info/
topic.txt
details.txt
AdminUser_accessKeys.csv
AdminUser_credentials.csv
login-details.txt
Cloud_Platform_Programming_Repeat.pdf